
/*UNIVERSAL STYLES*/
div#wrapper {height:100%;}
ul li {list-style-type:none; font-family: 'Merriweather',arial,serif;}
ul {margin-left:-40px;}
#contentwrapper {background-color:#f2f9fd; background-image: url(../images/content_background.png); min-height: 500px;}
body {background-color:#005f5c; margin:0; padding:0;}
.clear {clear:both;}
/*end UNIVERSAL styles */


h5#logofoot a{height:98px; width:143px; background:url(../images/logo2.png) no-repeat 0 0px; text-indent:-9999px; margin:0px 0 0 0; padding:0; float:left;}

/*TYPOGRAPHY*/
body, h2, h3, h4 {font-family: 'Delius', arial, serif; font-weight:100; margin:0; padding:0;   }
p, a {font-family: 'Merriweather', arial, serif; }
a {text-decoration:none; outline:none; }

#artist-list {
	/*width: 400px;*/
}

.artist-category {
	background: #E8E8E8;
	border: 1px solid #ddd;
	margin: 5px 0;
}

.artist-category ul {
	list-style-type: none;

}
.artist-category li#even {
	background: #E8E8E8;
}

.artist-category {
	/*width: 400px;
	float: left;*/
	margin-right: 10px;
	min-height: 100px;
}
.artist-category li#odd {
	background: #ddd;
}
.artist-category li {
	font-size: 22px;
}

.artist-category p{
	margin: 10px;
}

div#leftcolumn #artist-list h3{
	background-color: #c48a52;
	color: white;
	padding: 10px;
	font-size: 28px;
	text-align: center;
} 
/*end TYPOGRAPHY*/

/* Forms */

fieldset { border: none;}
label { font-size: 32px;}
input.text, textarea { width: 80%; font-size: 25px;}
.field {padding: 15px 0;}



/*HEADER*/
div#header {background-image:url(../images/stripes.png); background-repeat:repeat-x; height:186px; margin:0;padding:0; width:auto;}
div#headercontent {width:985px; margin:0 auto 0 auto;  }
h1#logo {margin:0;}
h1#logo a{height:180px; width:433px; background:url(../images/logo.png) no-repeat 0 -20px; text-indent:-9999px; margin:0; padding:0; float:left; }
div#header h2 a{float:left; color:white; font-size:90px; margin:55px 0 0 0; height:85px; font-family: 'Delius', arial, serif; font-weight:100;  }
/*end HEADER*/

/*NAVIGATION*/
div#nav {background-color:#005f5c; min-height:70px; margin:0; padding:0; background-image: url(../images/nav_background.png);}
div#nav ul {width:985px; margin:0 auto 0 auto; padding:24px 0 0 0; }
div#nav ul li {display:inline; list-style-type:none; padding-right:20px;  }
div#nav ul li span {text-decoration:none; color:#cd8844; font-size:20px; text-transform:lowercase; font-family: 'Delius', arial, serif; font-weight:100;  }
div#nav ul li a {text-decoration:none; color:white; font-size:20px; text-transform:lowercase; font-family: 'Delius', arial, serif; font-weight:100; margin:0; padding:0; }
div#nav ul li a:hover {color:#86b96c; }
/*end NAVIGATION*/

/*NEXT*/
div#next {background-image: url(../images/date.png);  margin:0; padding:10px 0; }
div#next h2, div#next h2 a {font-family: 'Delius', arial, serif; margin:0px auto 0 auto; width:985px; color:white;  font-size:34px; text-transform:lowercase; font-weight:100;}
/*end NEXT*/


/*MAINCONTENT*/
div#contentwrapper {background-color:#f2f9fd; padding-bottom: 15px; /*padding-top: 25px;*/}
div#contentwrapper p {font-size:18px;}
div#content { width:985px; height:100%; margin:0 auto 0 auto; }
/*end MAINCONTENT*/


/*PHOTOS*/
div.photofeature {width:985px; }
ul#market img {width:300px; margin-bottom:20px; }
ul#market {margin:30px 0 0px -40px;}
/*end PHOTOS*/


/*IMAGE ROTATION*/
ul#market img{
float:left;
border:#FFF 3px solid;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
border:none;
}
ul#market li.tilt img {
float:left;
padding:0 30px 0 30px;
border:#FFF 3px solid;
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
border:none;
}
/*end IMAGE ROTATION*/


/*TEXT*/
div.text {width:630px; float:left; display:block; margin: 0 10px 0 0; font-size:24px;}
div.text a {text-decoration:none; color:#1c76af; }
div.text ul li {font-size:18px; margin-bottom:10px;}
div.text  h3 {color:#c83925; font-size:40px;}
span.events {color:#c83925;font-size:18px; font-family: 'Merriweather',arial,serif;}
span.artwork {color:#1c76af; font-family: 'Delius', arial, serif; font-size:30px;}
/*end TEXT*/

/*SM*/
div.socialmedia {width:315px; float:left; clear:right; display:block; margin:10px 0 20px 20px;}
div.socialmedia h3, .socialmedia h3 a {font-family: 'Delius', arial, serif; color:#c83925; font-size:40px;}
div.socialmedia h4 {color:#11745c; font-size:35px;}
div.socialmedia ul li a{color:#1c76af; font-family: 'Delius', arial, serif; font-size:25px;}
div.socialmedia ul li.fb a {color:#3b5998; text-transform:lowercase;}
div.socialmedia ul li.flickr a{color:#CF8643; text-transform:lowercase;}
div.socialmedia ul li.tweet a{color:#5e99bc; text-transform:lowercase;}

/*end SM*/

/*FOOTER*/
div#footer {background-color:#005f5c; bottom:0px;  width:100%; float:left;  }
div#footer a {text-decoration:none; color:white;}
div#footer p {float:left; margin:30px 0 0 10px; color:white;}
div#footerwrap{width:985px; margin:0 auto 0 auto;}
/*end FOOTER*/

div#rightcolumn {width:314px; float:left; margin-left:10px; padding-left:20px;}
div#leftcolumn {width:630px; float:left; margin-right:10px; margin-top:15px;}
div#leftcolumn.full {width: 900px;}
div#contentcontainer {width:985px; margin:0 auto 0 auto;}
div#leftcolumn h2{color:#c83925; font-size:42px; /*margin: 15px 0;*/}
div#leftcolumn h3 {color:#c83925; font-size:30px;}
div#leftcolumn p, div#leftcolumn ul li { font-family: 'Merriweather',arial,serif; font-size:15px;}
div#leftcolumn p a {color:#C83925; /*#cd8844;*/}
div#leftcolumn ul li {list-style-type:inherit; margin-left:20px; padding-bottom:10px;}
div#leftcolumn h4, div#staffbio h3 {font-size:30px; color:#1c76af;}
/* div#leftcolumn h4 {margin-top:35px;} */
div#staffbio ul {margin-bottom:50px;}
div#staffbio ul li {background-color:#ddf1fe;  width:640px;list-style-type:none; padding:0; margin:0;  }
div#staffbio img {float:left; padding:10px;}
div#staffbio p {clear:right; min-height:135px; margin-top:0px; color:black;}
div#staffbio h5 {color:#c83925; font-family: 'Merriweather',arial,serif; font-size:20px; padding-top:10px; margin:0; }

.nivo-prevNav, .nivo-nextNav {
	background: #005F5C;
	color: white;
	padding: 15px;
	font-family: 'Delius', arial, serif; font-weight:100;
}

#slider-wrapper {
	-webkit-box-shadow: 1px 1px 5px #333;
	-moz-box-shadow: 1px 1px 5px #333;
	box-shadow: 1px 1px 5px #333;

}


div#leftcolumn.slider-page {
	width: 800px;

}

.photofeature {
	position:relative;
	float:left; /* optional */
}
.photofeature-caption a{
	color: white;

}
.photofeature .photofeature-caption {
	position:absolute;
	bottom:5px; /* in conjunction with left property, decides the text position */
	left:0;
	width:100%; /* optional, though better have one */
	color: white;
	padding: 5px;
	background: rgba(0,0,0,0.8);
}